* {
   box-sizing: border-box;
}

body {
   background-color: #4b3a26;
   font-family: Verdana, Geneva, sans-serif;
}

header {
   width: 90%;
   max-width: 849px;
   height: 227px;
   margin: auto;
   background-image: url("images/donate2_01.gif");
   background-size: cover;
   background-repeat: no-repeat;
   color: #bdaf88;
   font-size: 12px;
   word-spacing: 5px;
   position: relative;
}

.desktop_nav {
   position: absolute;
   bottom: 75px;
   right: 60px;
}

.mobile_nav {
   display: none;
}

header a {
   color: #bdaf88;
   text-decoration: none;
}

header a:hover {
   color: #FFFFFF;
}

.page_body {
   width: 90%;
   max-width: 849px;
   margin: auto;
   display: table;
}

.body_table {
   display: table-row;
}

.bg_left {
   width: 57px;
   display: table-cell;
   background-image: url('images/donate2_02.gif');
   background-size: cover;
   background-position: top right;
}

.content {
   display: table-cell;
   background-image: url('donate.jpg');
   background-size: cover;
   background-position: top left;
   font-size: 12px;
   padding: 5px;
}

.emphasis {
   font-size: 1.2em;
}

.div1 {
   margin-left: 40%;
   margin-bottom: 2%;
   text-align: left;
}

.div2 {
   margin-left: 35%;
   margin-bottom: 2%;
}

.div3 {
   margin-left: 35%;
   text-align: left;
}

.div4 {
   margin-top: 10%;
   margin-left: 45%;
   margin-bottom: 10%;
   text-align: center;
}

.content form {
   margin-top: 1%;
   margin-left: 55%;
   margin-bottom: 2%;
   text-align: center;
}

.div5 {
   margin-top: 1%;
   margin-left: 55%;
   margin-bottom: 2%;
   text-align: center;
}

.div6 {
   margin-top: 1%;
   margin-left: 55%;
   margin-bottom: 2%;
   text-align: center;
}

.bg_right {
   width: 54px;
   display: table-cell;
   background-image: url('images/donate2_06.gif');
   background-size: cover;
   background-position: top left;
}

footer {
   width: 90%;
   max-width: 849px;
   height: 57px;
   margin: auto;
   background-image: url('images/contactus_07.jpg');
   background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
   header {
      width: 100%;
      min-width: 404px;
      height: auto;
      padding-top: calc(27%);
      border: 1px solid black;
      background-color: #000000;
      background-size: 100vw;
      background-position: top center;
   }
   
   header b {
      display: inline-block;
   }
   
   .desktop_nav {
      display: none;
   }
   
   .mobile_nav {
      display: block;
      position: relative;
      padding: 14px 14px;
   }
   
   .mobile_nav #mobile_links {
      display: none;
      list-style-type: none;
      line-height: 1.6;
   }
   
   .burger_icon {
      position: absolute;
      right: 14px;
      top: 14px;
   }
   
   .page_body {
      width: 100%;
      min-width: 404px;
   }
      
   .bg_left {
      display: none;
   }
   
   .content {
      background-image: url('donatemobile.jpg');
   }
   
   .div1 {
      margin: auto;
      text-align: center;
      padding: 10px;
   }
   
   .div2 {
      margin: auto;
      padding: 10px;
   }
   
   .div3 {
      margin: auto;
      padding: 10px;
   }
   
   .div4 {
      margin: auto;
      padding: 10px;
   }
   
   .content form {
      margin: auto;
      padding: 10px;
   }
   
   .div5 {
      margin: auto;
      padding: 10px;
   }
   
   .div6 {
      margin: auto;
      padding: 10px;
   }
   
   .bg_right {
      display: none;
   }
   
   footer {
      width: 100%;
      min-width: 404px;
      height: 30px;
      margin: 0;
      background-size: auto;
      background-position: center center;
   }
}