* {
   box-sizing: border-box;
}

body {
   background-color: #4b3a26;
   font-family: Verdana, Geneva, sans-serif;
}

header {
   width: 90%;
   max-width: 849px;
   height: 227px;
   margin: auto;
   background-image: url("images/whatwedo2_01.gif");
   background-size: cover;
   background-repeat: no-repeat;
   color: #bdaf88;
   font-size: 12px;
   word-spacing: 5px;
   position: relative;
}

.desktop_nav {
   position: absolute;
   bottom: 75px;
   right: 60px;
}

.mobile_nav {
   display: none;
}

header a {
   color: #bdaf88;
   text-decoration: none;
}

header a:hover {
   color: #FFFFFF;
}

.page_body {
   width: 90%;
   max-width: 849px;
   margin: auto;
   display: table;
}

.body_table {
   display: table-row;
}

.bg_left {
   width: 57px;
   display: table-cell;
   background-image: url('images/whatwedo2_02.jpg');
   background-size: cover;
   background-position: top right;
}

.content {
   height: 100%;
   display: flex;
   font-size: 14px;
}

.content_column_1 {
   background-color: #938d6e;
}

.content_column_2 {
   background-image: url('WEB/images/Whatwedoback0.jpg');
   background-size: cover;
   background-position: bottom right;
}

.content_column_2 > div {
   margin-left: 10px;
}

.title1 {
   color: #FF6600;
}

.title2 {
   color: #000066;
   font-size: 1.2em;
   text-align: center;
}

.flex_content {
   display: flex;
}

.flex_column_1 {
   /*flex: 60%;*/
}

.flex_column_2 {
   display: flex;
   flex-direction: column;
}

.bg_right {
   width: 54px;
   display: table-cell;
   background-image: url('images/whatwedo2_05.jpg');
   background-size: cover;
   background-position: top left;
}

footer {
   width: 90%;
   max-width: 849px;
   height: 57px;
   margin: auto;
   background-image: url('images/contactus_07.jpg');
   background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {   
   header {
      width: 100%;
      min-width: 404px;
      height: auto;
      padding-top: calc(27%);
      border: 1px solid black;
      background-color: #000000;
      background-size: 100vw;
      background-position: top center;
   }
   
   header b {
      display: inline-block;
   }
   
   .desktop_nav {
      display: none;
   }
   
   .mobile_nav {
      display: block;
      position: relative;
      padding: 14px 14px;
   }
   
   .mobile_nav #mobile_links {
      display: none;
      list-style-type: none;
      line-height: 1.6;
   }
   
   .burger_icon {
      position: absolute;
      right: 14px;
      top: 14px;
   }
   
   .page_body {
      width: 100%;
      min-width: 404px;
   }
      
   .bg_left {
      display: none;
   }
   
   .content {
      background-color: #4b3a26;
      display: box;
      display: -webkit-box;
      display: -moz-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
   }
   
   .content_column_1 {
      box-ordinal-group: 2;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
   }
   
   .content_column_1 > img {
      width: 100%;
      height: auto;
   }
   
   .content_column_2 {
      box-ordinal-group: 1;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
   }
      
   .flex_content {
      flex-direction: column;
   }
      
   .bg_right {
      display: none;
   }
   
   footer {
      width: 100%;
      min-width: 404px;
      height: 30px;
      margin: 0;
      background-size: auto;
      background-position: center center;
   }
}